<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Message: ' + ${message}"> </title>
</head>
<body>

<h1 th:text="'Message: ' + ${message}">  </h1>

</body>
</html>